<a href="https://colab.research.google.com/github/Mihai5469/PCTO23-24/blob/main/PCTO_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
v = "ciao"
v = 1
v = 3.14
print(v)
print(type(v))

3.14
<class 'float'>

In [ ]:
num1 = 10
num2 = 3
print("Il resto: ",num1 % num2)

Il resto:  1

Stringhe

In [ ]:
nome = "mario"
cognome = "rossi"

nome = nome[0:1].upper() + nome[1:len(nome)]
cognome = cognome[0:1].upper() +cognome[1:len(cognome)]
print(nome, cognome)

Mario Rossi

In [ ]:
nome = "mario. "
cognome = "rossi"

nome = nome.strip()
nome = nome.rstrip(".")
cognome = cognome.strip()
nome = nome.rstrip(".")

print(nome.capitalize(), cognome.capitalize())

Mario Rossi

**Liste**

In [ ]:
frammenti = [
    "AA",
    "CC",
    "DD",
    "BB"
]
frammenti_ordinati = frammenti.copy()
frammenti_ordinati.sort()
print(frammenti)
print(frammenti_ordinati)

['AA', 'CC', 'DD', 'BB']
['AA', 'BB', 'CC', 'DD']

**Tuple**

In [ ]:
#create a tuple
tuplex = (4, 6, 2, 8, 3, 1)
print(tuplex)
lista = list(tuplex)
lista.insert(4, 55555)

tuplex = tuple(lista)

print(tuplex)

(4, 6, 2, 8, 3, 1)
(4, 6, 2, 8, 55555, 3, 1)

**Array**

In [ ]:
import numpy as np

arr = np.array([1, 2, 3])

print(arr)

[1 2 3]

**Dizionari**

In [ ]:
mappa = {
    "4-quattro": 16,
    "2-due": 4,
    "0-zero": 1,
    "1-uno": 2,
    "5-cinque": 32,
    "3-tre": 8
}

keys = list(mappa.keys())
stringa_mappa = ",".join(keys)
stringa_mappa.split()

print(stringa_mappa)


print(type(keys),keys)

4-quattro,2-due,0-zero,1-uno,5-cinque,3-tre
<class 'list'> ['4-quattro', '2-due', '0-zero', '1-uno', '5-cinque', '3-tre']

**Cicli**

In [ ]:
lista = [1, 25, 6, 27, 57, 12]
max = lista[0]
min = lista[0]

for i in lista[1:]: #inizia la lista dall'elemento 1 nella lista
  if max < i:
    max = i
  if min > i:
    min = i

print("Il massimo: ", max)
print("Il minimo: ", min)

Il massimo:  57
Il minimo:  1

**Funzioni**

In [ ]:
alfanumerici = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"

# code here
def controlla_alfanumerico(stringa):
  for i in stringa:
    if i.upper() not in alfanumerici:
      return False

  return True


esito = controlla_alfanumerico("Cia0")

print(esito)

True