In [ ]:
v = "ciao"
v = 1
v = 3.14
print(v)
print(type(v))

In [ ]:
num1 = 10
num2 = 3
print("Il resto: ",num1 % num2)

In [ ]:
nome = "mario"
cognome = "rossi"

nome = nome[0:1].upper() + nome[1:len(nome)]
cognome = cognome[0:1].upper() +cognome[1:len(cognome)]
print(nome, cognome)

In [ ]:
nome = "mario. "
cognome = "rossi"

nome = nome.strip()
nome = nome.rstrip(".")
cognome = cognome.strip()
nome = nome.rstrip(".")

print(nome.capitalize(), cognome.capitalize())

In [ ]:
frammenti = [
    "AA",
    "CC",
    "DD",
    "BB"
]
frammenti_ordinati = frammenti.copy()
frammenti_ordinati.sort()
print(frammenti)
print(frammenti_ordinati)

In [ ]:
#create a tuple
tuplex = (4, 6, 2, 8, 3, 1)
print(tuplex)
lista = list(tuplex)
lista.insert(4, 55555)

tuplex = tuple(lista)

print(tuplex)

In [ ]:
import numpy as np

arr = np.array([1, 2, 3])

print(arr)

In [ ]:
mappa = {
    "4-quattro": 16,
    "2-due": 4,
    "0-zero": 1,
    "1-uno": 2,
    "5-cinque": 32,
    "3-tre": 8
}

keys = list(mappa.keys())
stringa_mappa = ",".join(keys)
stringa_mappa.split()

print(stringa_mappa)


print(type(keys),keys)

**APUNTI**